legend{
    text-align: center;
font-weight: bold;
}
form{
    margin: auto 30px;
    width:80%;
    height:5030px;
    background-color: deepskyblue;
    text-align: left;
    margin:auto;
    padding-left: 30px;
}
button{
     width: 110px;
    height: 50px;
    margin-left: 70px;
    border-radius: 15px;
}
.ls{
    background-color: lawngreen;

}
.ms{
    background-color: blue;
}
label{width: 200px;
    display: inline-block;
}




